In [4]:
# Assigning Values to multiple variables
a, b, c = 1, 2, 3

In [2]:
print(a)
print(b)
print(c)

1
2
3

In [3]:
# type()
print(type(a))

# id()
print(id(a))

<class 'int'>
140709029135144

In [5]:
print(a)

1

In [6]:
type(a)

int

In [7]:
id(b)

140709029135176

In [24]:
# String -- Set of characters are called string.
# Anything betwwen the quotes is treated as string in python.

My_Name = "Abhishek"
Name_2 = 'Amit'
Name_3 = """Kuch Nam"""
Kuch_Alg = "45"

# print(type(Kuch_Alg))
# print(type(Name_3))
# print(type(Name_2))
# print(type(My_Name))

# len() --> length of the string.
print(len(My_Name))

8

In [12]:
# str()
d_1 = str(45)

print(d_1)
print(type(d_1))

45
<class 'str'>

In [13]:
# Numeric Type -- > 
# 1. Integers --> int()

My_No = 7728041227
print(type(My_No))

<class 'int'>

In [14]:
My_2nd_No = int(9328566144)
print(type(My_2nd_No))

<class 'int'>

In [16]:
# 2. floats --> float() also known as fractions or decimals in mathematics.
# Resource --> https://www.mathsisfun.com/decimals.html

My_floats = 75.682
pi = 3.141

print(type(pi))
print(type(My_floats))

<class 'float'>
<class 'float'>

In [18]:
# 3. complex ---> https://www.mathsisfun.com/numbers/complex-numbers.html

My_Complex = 3 + 2j
print(type(My_Complex))

e = 2j
print(type(e))

<class 'complex'>
<class 'complex'>

In [25]:
# List --> list()
# items will be in square brackets and separated by a comma.

My_List = [True, "Sapna", "Amit", 12, 3.5, 3+5j]
print(My_List)
print(type(My_List))
print(len(My_List))

[True, 'Sapna', 'Amit', 12, 3.5, (3+5j)]
<class 'list'>
6

In [21]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [26]:
# Tuples -- tuple()

My_Tuple = (True, "Sapna", "Amit", 12, 3.5, 3+5j)

print(My_Tuple)
print(type(My_Tuple))

(True, 'Sapna', 'Amit', 12, 3.5, (3+5j))
<class 'tuple'>

In [27]:
y = tuple((True, "Sapna", "Amit", 12, 3.5, 3+5j))

print(y)
print(type(y))

(True, 'Sapna', 'Amit', 12, 3.5, (3+5j))
<class 'tuple'>

In [29]:
z = ("Manish",)
print(type(z))

<class 'tuple'>

In [30]:
f = range(6)

print(f)
print(type(f))

range(0, 6)
<class 'range'>

In [32]:
# dictionary -- dict()

My_dict = {'key':'value','Name':"Abhishek", "Address":'New Delhi', "Age": 30}

print(type(My_dict))
print(My_dict)

<class 'dict'>
{'key': 'value', 'Name': 'Abhishek', 'Address': 'New Delhi', 'Age': 30}

In [33]:
g = dict(name="John", age=36)

print(g)
print(type(g))

{'name': 'John', 'age': 36}
<class 'dict'>

In [36]:
# sets -- set()

My_Set = {True, "Sapna", "Amit", 12, 3.5, 3+5j}

print(My_Set)

print(type(My_Set))

{'Sapna', True, (3+5j), 3.5, 'Amit', 12}
<class 'set'>

In [37]:
h = set(("apple", "banana", "cherry"))
print(type(h))
print(h)

<class 'set'>
{'apple', 'cherry', 'banana'}

In [38]:
i = frozenset({"apple", "banana", "cherry"})

print(i)
print(type(i))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [39]:
# Booleans -- bool()

j = True
k = False

print(j)
print(type(k))

True
<class 'bool'>

In [41]:
l = bool(0)
print(l)
print(type(l))

False
<class 'bool'>

In [43]:
m = bool(45)

print(m)
print(type(m))

True
<class 'bool'>