In [1]:
my_set = {1, 2.6, 3+5j, 0, True, False, "Abhishek"}

In [2]:
print(type(my_set))

<class 'set'>

In [3]:
my_set

{(3+5j), 0, 1, 2.6, 'Abhishek'}

In [4]:
print(my_set)

{0, 1, 2.6, (3+5j), 'Abhishek'}

In [5]:
set_1 = {True, False, "Abhishek", 1, 0}

In [6]:
print(set_1)

{False, True, 'Abhishek'}

In [10]:
# set() 
thisset = set(("apple", "banana", "cherry")) # note the double brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [9]:
for i in my_set:
    print(i)

0
1
2.6
(3+5j)
Abhishek

In [10]:
# for adding items in set use add() method.

thisset = {"apple", "banana", "cherry"}

thisset.add("pineapple")

print(thisset)

{'apple', 'banana', 'pineapple', 'cherry'}

In [11]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'banana', 'cherry', 'pineapple', 'papaya', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'apple', 'kiwi', 'orange'}

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [15]:
thisset = {"apple", "cherry"}

thisset.remove("banana")

print(thisset)

KeyError: 'banana'

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [19]:
thisset = {1, "apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

1
{'banana', 'cherry', 'apple'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [22]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'John', 'cherry', 'c', 'bananas', 'apple', 'a', 'Elena'}

In [27]:
# using pipe - |  
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 3, 'John', 'cherry', 'c', 'bananas', 'apple', 'a', 'Elena'}

In [24]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [27]:
# using ampersand -- &
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [30]:
set1

{'apple'}

In [31]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'banana', 'cherry', 'google'}